.superInput {
    margin: 20px;
    background: white;
}

.errorInput {
    border: 3px solid #082d08;
    /*background: red;*/
}

.error {
    color: red;
}

.input:focus {
    outline: none;
    border: #042304 solid 2px;
}